body{
font-family: 'Satisfy', cursive;
font-size: 20px;
background: url("chat_background.webp");
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
h1{
  color: rgb(188, 240, 86);
  text-decoration: underline;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-align: center;
}

.logo{
float: right;
width: 400px;
margin-top: 30px;
margin-right: 90px;
border-radius: 30px;
border-color: black;
border-style: solid;
}

#login_button{
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    border-color: black;
    padding: 10px 24px;
    color: black;
    top: 12;
    bottom: 20;
    background-color: #008CBA;}

      .vl {
        border-left: 3px dashed black;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 80;
      }

      #login_button
{
	font-size: 20;
    border-radius: 15px;
	background-color: rgb(73, 190, 230);
	color: darkblue;
	border-color: green;
	border-style: dotted;
}

.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;
	color:grey;
}

#user_name{
  border-radius: 90px;
  border-color: darkblue;
  font-size: 20px;
  font-family:'Satisfy', cursive;
}